<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jpry.alfred-hipsum</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>191709AE-32FF-48C2-97A7-A41608322A02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FE06820-39B4-4FB9-BEBE-ADAF41454179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29CFCFA4-8C5B-44A8-B957-447BBBA19000</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>191709AE-32FF-48C2-97A7-A41608322A02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3849D9AB-60A1-4154-A404-508E72E3385D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5111680-69DB-4A34-BAE0-4ACB100353DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ED80890-26D8-4397-91AB-21DFC3761DC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7805F521-9D4A-438F-B952-DFF9DF893876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7805F521-9D4A-438F-B952-DFF9DF893876</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FE06820-39B4-4FB9-BEBE-ADAF41454179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8211AB8C-CA52-40F2-83AE-8317D193CD04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FE06820-39B4-4FB9-BEBE-ADAF41454179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5111680-69DB-4A34-BAE0-4ACB100353DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FE06820-39B4-4FB9-BEBE-ADAF41454179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D45891EB-B6CC-4DEB-B1C1-036C4EC10042</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8211AB8C-CA52-40F2-83AE-8317D193CD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeremy Pry</string>
	<key>description</key>
	<string>Create placeholder text from Hipster Ipsum</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hipster Ipsum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0FE06820-39B4-4FB9-BEBE-ADAF41454179</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Pure Hipster</string>
				<key>text</key>
				<string>Hipster Ipsum (Paragraphs)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D45891EB-B6CC-4DEB-B1C1-036C4EC10042</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>118</integer>
				<key>script</key>
				<string>require_once __DIR__ . '/run.php';

$hipsum-&gt;paragraphs((int) {query});

run($hipsum);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8211AB8C-CA52-40F2-83AE-8317D193CD04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Pure Hipster</string>
				<key>text</key>
				<string>Hipster Ipsum Sentences</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3849D9AB-60A1-4154-A404-508E72E3385D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>require_once __DIR__ . '/run.php';

$hipsum-&gt;sentences((int) {query});

run($hipsum);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5111680-69DB-4A34-BAE0-4ACB100353DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>
require_once __DIR__ . '/run.php';

$hipsum-&gt;paragraphs((int) {query})-&gt;with_latin();


run($hipsum);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>191709AE-32FF-48C2-97A7-A41608322A02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Hipster/Latin mix</string>
				<key>text</key>
				<string>Hipster Ipsum (Paragraphs)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29CFCFA4-8C5B-44A8-B957-447BBBA19000</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Hipster/Latin Mix</string>
				<key>text</key>
				<string>Hipster Ipsum Sentences</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4ED80890-26D8-4397-91AB-21DFC3761DC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>require_once __DIR__ . '/run.php';

$hipsum-&gt;sentences((int) {query})-&gt;with_latin();


run($hipsum);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7805F521-9D4A-438F-B952-DFF9DF893876</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Hipster Ipsum Alfred Workflow

Generate placeholder text using [Hipster Ipsum](https://hipsum.co) service.</string>
	<key>uidata</key>
	<dict>
		<key>0FE06820-39B4-4FB9-BEBE-ADAF41454179</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>191709AE-32FF-48C2-97A7-A41608322A02</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>29CFCFA4-8C5B-44A8-B957-447BBBA19000</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>3849D9AB-60A1-4154-A404-508E72E3385D</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>4ED80890-26D8-4397-91AB-21DFC3761DC9</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>7805F521-9D4A-438F-B952-DFF9DF893876</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>8211AB8C-CA52-40F2-83AE-8317D193CD04</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C5111680-69DB-4A34-BAE0-4ACB100353DE</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D45891EB-B6CC-4DEB-B1C1-036C4EC10042</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hipsum</string>
				<key>placeholder</key>
				<string>hipsum</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Workflow keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
